<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToLeaf-Scan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Banner -->
    <section id="banner">
        <div class="banner">
            <h1 class="banner-title">ToLeaf-Scan</h1>
            <div class="banner-desc">
                <p>Tomato Leaf Scan, platform aplikasi website yang memanfaatkan teknologi Computer Vision untuk memantau kesehatan daun tomat dengan cara yang efisien dan praktis.</p>
            </div>
            <button class="btn start" type="button">
                <a href="#detection-camera">Mulai Deteksi</a>
            </button>
    </section>
    
    <!--- Detection Camera --->
    <section id="detection-camera" class="container">
        <h1>Deteksi Penyakit Daun Tomat</h1>
        <div class="video-container">
            <div id="video-stream" class="video-frame">Nyalakan Kamera</div>
        </div>        
    
        <div class="buttons">
            <button id="start-btn" class="btn start" type="button">Nyalakan Kamera</button>
            <button id="capture-btn" class="btn capture" type="button">Simpan Gambar</button>
            <button id="stop-btn" class="btn stop" type="button">Matikan Kamera</button>
        </div>
    </section>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>